@import url(../css/reset.css);
html {
	height:100%;
	background:#fff url(../images/body.gif) repeat;
}
body {
	color:#000;
	font:12px/14px Arial, Tahoma, Verdana, sans-serif;
	background: url(../images/header.gif) repeat-x;
	height:100%;
}
img {border:none;}
input,
textarea,
select{
	font:12px/14px Arial, Tahoma, sans-serif;
	vertical-align:middle;
	outline:none;
}
input:focus,
textarea:focus {
	outline: none;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#33718e;
}
a:focus {
	outline:none;
}
/* page wrap */
.page-wrap {
	min-height:100%;
	min-width:998px;
	max-width:1598px;
	margin:0 auto;
	background:#fff;
	border:solid #dcdddd;
	border-width:0 1px;
}
.page-hold {
	position:relative;
	padding-bottom:61px;
	z-index:20px;
	margin:0 -1px;
	background: url(../images/header.gif) repeat-x;
}
/* header */
#header {
	position:relative;
	height:161px;
	z-index:20;
}
/* logo */
#header strong.logo a {
	position: absolute;
	left:2px;
	top:30px;
	width:448px;
	height:87px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
}
#header .phone {
	position:absolute;
	right:10px;
	top:43px;
	width:125px;
	height:25px;
	color:#fff;
	font-weight:normal;
	letter-spacing:-1px;
	font-size:16px;
	line-height:25px;
	padding:0 22px 0 0;
	text-align:right;
	background: url(../images/phone.png) no-repeat;
}
.sun {
	position:absolute;
	left:50%;
	top:20px;
	width:166px;
	height:166px;
	margin-left:-83px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(../images/sun.png) no-repeat;
}
#nav {
	position:absolute;
	left:16px;
	top:10px;
}
#nav li {
	float:left;
	padding:0 9px;
	background: url(../images/sep.gif) no-repeat 0 50%;
}
#nav li:first-child {
	background:none;
}
#nav a {
	float:left;
	color:#2e2e2e;
	font-size:14px;
	line-height:20px;
}
#nav a:hover {
	color:#6967ac;
}
.form-login {
	position:absolute;
	right:176px;
	top:10px;
	width:215px;
}
.form-login strong {
	display:block;
	font-size:11px;
	text-transform:uppercase;
	font-weight:normal;
}
.form-login .inp-bg {
	margin:2px 0 0;
	width:150px;
	height:23px;
	padding:0 10px;
	background: url(../images/input.png) no-repeat;
}
.form-login .inp-bg input {
	display:block;
	width:150px;
	height:19px;
	padding:2px 0;
	color:#6d6f71;
	font-size:12px;
	line-height:18px;
	background:none;
	border:none;
}
.form-login .btn-login {
	position:absolute;
	right:0;
	bottom:10px;
	width:41px;
	height:25px;
	overflow:hidden;
	text-indent:-9999px;
	font-size:0;
	border:none;
	cursor:pointer;
	background: url(../images/btn-login.png) no-repeat;
}
.form-login .btn-login:hover {
	background-position:0 -25px;
}
.social-nav {
	position:absolute;
	right:5px;
	top:117px;
}
.social-nav li {
	float:left;
	padding-right:5px;
}
.social-nav a {
	float:left;
	width:34px;
	height:32px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/social.png) no-repeat;
}
.social-nav .icq a {
	background-position:0 0;
}
.social-nav .icq a:hover {
	background-position:0 -32px;
}
.social-nav .vkontakte a {
	background-position:-34px 0;
}
.social-nav .vkontakte a:hover {
	background-position:-34px -32px;
}
.social-nav .skype a {
	background-position:-68px 0;
}
.social-nav .skype a:hover {
	background-position:-68px -32px;
}
/* form-search */
.form-search {
	position:absolute;
	right:160px;
	top:113px;
	height:35px;
	width:218px;
	padding:0 0 0 10px;
	background:url(../images/form-search.png) no-repeat;
}
.form-search .field {
	float:left;
	width:136px;
	margin:8px 0 0;
	height:18px;
	padding:2px 0;
	color:#6d6f71;
	font-size:12px;
	line-height:18px;
	background:none;
	border:none;
}
.form-search .btn-search {
	float:right;
	width:72px;
	height:35px;
	color:#6d6f71;
	font-size:10px;
	text-transform:uppercase;
	text-align:right;
	cursor:pointer;
	border:none;
	background:none;
}
.form-search .btn-search:hover {
	color:#000;
}

.button,
.sub-nav a {
	float:left;
	padding-right:5px;
	height:32px;
	color:#a1a1a2;
	font:16px/32px Georgia, Times, serif;
	text-transform:uppercase;
	background:url(../images/button.png) no-repeat 100% -32px;
}
.button span,
.sub-nav a span {
	float:left;
	padding:0 10px 0 15px;
	cursor:pointer;
	height:35px;
	background:url(../images/button.png) no-repeat 0 0;
}
.button:hover,
.sub-nav a:hover,
.sub-nav .active a {
	color:#6967ac;
	background-position:100% -96px;
}
.button:hover span,
.sub-nav a:hover span,
.sub-nav .active a span {
	background-position:0 -64px;
}
/* sub nav */
.sub-nav {
	position:absolute;
	left:16px;
	top:116px;
}
.sub-nav li {
	float:left;
	padding-right:10px;
}

/* main */
#main {
	padding:0;
}
.main-frame {
	background:url(../images/main-l.png) repeat-y;
}
.main-hold {
	background:url(../images/main-r.png) repeat-y 100% 0;
}
.main-top {
	height:24px;
	overflow:hidden;
	background: url(../images/main-top.png) no-repeat;
}
.main-topr {
	height:24px;
	background: url(../images/main-top.png) no-repeat 100% -24px;
}
.main-btm {
	height:1px;
	margin:0 7px;
	background: url(../images/main-btm.png) repeat-x;
}
/* main-columns */
.main-columns {
	padding:0 7px 20px;
	background: url(../images/main-col.png) repeat-y 336px 0;
}
/* nav-bar */
.nav-bar {
	float:left;
	margin-right:10px;
	width:320px;
}
/* main-nav */
.main-nav {
	padding:0;
}
.main-nav li {
	vertical-align:top;
	zoom:1;
}
.main-nav a {
	display:block;
	vertical-align:top;
	color:#ff8400;
	padding:8px 10px 8px 22px;
	font-size:14px;
	line-height:20px;
	text-transform:uppercase;
	background: url(../images/main-nav.png) no-repeat 100% 100%;
}
.main-nav a:hover,
.main-nav .active a {
	color:#fff;
	background:#f2ca31;
}
/* main-content */
.main-content {
	overflow:hidden;
	background: url(../images/main-col.png) repeat-y 49% 0;
}
.main-content .col {
	float:left;
	width:49%;
}
.main-content .col-hold {
	padding:0 10px;
}
.pict-heading {
	position:relative;
}
.pict-heading img {
	display:block;
}
.pict-heading h2 {
	position:absolute;
	left:10px;
	bottom:10px;
	color:#fff;
	font-size:18px;
	line-height:22px;
	text-transform:uppercase;
}
.main-content p {
	padding:15px 0 0;
	color:#414141;
}
.list-news {
	padding:0;
}
.list-news li {
	padding:10px 0;
	overflow:hidden;
	zoom:1;
	background: url(../images/sep2.png) repeat-x;
}
.list-news li:first-child {
	background:none;
}
.list-news h3 {
	font-size:12px;
	font-weight:normal;
	text-transform:uppercase;
	color:#ff8400;
}
.list-news h3 a {
	color:#ff8400;
}
.list-news h3 a:hover {
	color:#000;
}
.list-news p {
	padding:0;
}
.list-news .more {
	float:right;
	width:10px;
	height:7px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(../images/more.png) no-repeat;
}
.banner {
	clear: both;
	padding:7px;
	margin:10px 16px;
	text-align:center;
	border:1px solid #949597;
}
.banner img {
	display:block;
	margin:0 auto;
}
/* heading */
.heading {
	height:25px;
	margin-right:8px;
	background: url(../images/heading.png) no-repeat;
}
.heading h2 {
	width:300px;
	text-align:center;
	font-style: italic;
	font-size:16px;
	line-height:24px;
	color:#ff5200;
}
/* gallery */
.gallery {
	padding:0 0 20px;
	position:relative;
	color:#000;
	overflow:hidden;
}
.gallery-hold li {
	float:left;
	width:33%;
	overflow:hidden;
	zoom:1;
}
.gallery-hold li .wrap {
	padding:15px;
}
.gallery .img-book {
	float:left;
	margin-right:15px;
}
.gallery .img-book img {
	display:block;
	border:1px solid #6d6f70;
}
.gallery .info-book {
	overflow:hidden;
}
.gallery h3 {
	color:#000;
	font-size:12px;
	line-height:16px;
}
.gallery .author {
	display:block;
	font-weight:normal;
	font-size:12px;
}
.gallery p {
	padding:15px 0 0;
	font-size:12px;
	line-height:14px;
}
.gallery .price-hold {
	padding:15px 0 0;
}
.gallery .btn-buy {
	float:right;
	padding:0 18px;
	height:20px;
	line-height:20px;
	color:#000;
	background:#f1ca30;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px; 
}
.gallery .btn-buy:hover {
	background:#ff3600;
}
.price strong {
	float:left;
	color:#ff3600;
	font-size:18px;
	line-height:20px;
	font-weight:normal;
}
.gallery-nav {
	position:absolute;
	right:30px;
	bottom:15px;
}
.gallery-nav li {
	float:left;
	padding-right:3px;
}
.gallery-nav a {
	float:left;
	width:9px;
	height:8px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(../images/bullet.png) no-repeat;
}
.gallery-nav a:hover,
.gallery-nav a.pager-active {
	background-position:0 -8px;
}

/* footer */
.footer-wrap {
	margin:-62px auto 0;
	position:relative;
	z-index:30;
	min-width:1000px;
	max-width:1600px;
	background: url(../images/footer.png) no-repeat;
}
#footer {	
	position:relative;
	height:62px;
	color:#fff;
	background: url(../images/footer.png) no-repeat 100% -62px;
}
#footer a {
	color:#fff;
}
#footer a:hover {
	text-decoration:underline;
}
.sun-footer {
	position:absolute;
	width:52px;
	height:51px;
	margin-left:-26px;
	top:10px;
	left:50%;
	text-indent:-9999px;
	overflow:hidden;
	background: url(../images/footer-sun.png) no-repeat;
}
#footer .copyright {
	position:absolute;
	left:50%;
	top:30px;
	text-align:right;
	margin-left:-160px;
}
#footer .develop-by {
	position:absolute;
	left:50%;
	top:30px;
	text-align:right;
	margin-left:50px;
}


